#mainSection
{
    grid-area: left_col;

    .main-info
    {
        @include border-radius(_size(b-radius-big));
        @include vendor('display', 'flex');
        @include vendor('flex-direction', 'column');
        position: relative;
        width: 100%;
        height: 100%;
        padding: _size(figure-padding);
        padding-right: _size(sticker-w) + _size(figure-padding) * 2;
        background: url(../graph/bg@1x.png) no-repeat center center;
        background-size: cover;
        overflow: hidden;

        @media screen and ( max-width: (_sres(phone-horizont) - 1) )
        {
            padding-right: _size(figure-padding);
        }

        @media #{$r2x}
        {
            background: url(../graph/bg@2x.png) no-repeat center center;
        }

        .main-name
        {
            font-size: _fsize(h1);
            font-weight: bold;
        }
        .main-text-info
        {
            margin-top: 6px;
            font-size: _fsize(p);
        }
        .main-temperature
        {
            @include vendor('display', 'flex');
            @include vendor('flex-wrap', 'wrap');
            margin-top: 25px;

            .main-temp-item
            {
                @include vendor('display', 'flex');
                @include vendor('flex-direction', 'column');
                margin-left: 18px;

                &:first-child { margin-left: 0px; }

                .temp-name
                {
                    color: _palette(light-grey);
                    font-size: _fsize(p);
                }
                .temp-value
                {
                    margin-top: 4px;
                    font-weight: bold;
                    font-size: _fsize(big);

                    .temp-icon { margin-left: 5px; }
                }
            }
        }
        #devicesStates
        {
            @include vendor('display', 'flex');
            @include vendor('flex-direction', 'column');
            @include vendor('justify-content', 'space-between');
            position: absolute;
            right: _size(figure-padding);
            bottom: 0;
            height: 100%;
            padding-top: _size(figure-padding);

            @media screen and ( max-width: (_sres(phone-horizont) - 1) )
            {
                @include vendor('flex-direction', 'row');
                right: 0;
                bottom: _size(figure-padding);
                height: auto;
                width: 100%;
            }

            ul
            {
                @include vendor('flex', '1');
                @include vendor('display', 'flex');
                @include vendor('flex-direction', 'column');
                overflow: hidden;
                margin-bottom: 15px;

                @media screen and ( max-width: (_sres(phone-horizont) - 1) )
                {
                    @include vendor('flex-direction', 'row');
                    margin-left: 15px;
                    margin-right: 15px;
                    margin-bottom: 0;

                    .label-item
                    {
                        margin-top: 0;
                        margin-left: 15px;

                        &:first-child { margin-left: 0; }
                    }
                }
            }
        }
        #scrollDevicesStates
        {
            @include vendor('flex', '0 0 auto');
            @include border-radius-top-lr(_size(b-radius-big));
            height: 41px;
            background-color: _palette(light);

            @media screen and ( max-width: (_sres(phone-horizont) - 1) )
            {
                @include border-radius-top-lr(0);
                @include border-radius-left-tb(_size(b-radius-big));
                height: _size(sticker-h);
                width: 41px;
            }

            .scroll-btn
            {
                @include vendor('display', 'flex');
                @include vendor('align-items', 'center');
                @include vendor('justify-content', 'center');
                @include border-radius-top-lr(_size(b-radius-big));
                height: 100%;

                &:after
                {
                    @include opacity(0.3);
                    @include transition(all 0.3s);
                    content: "";
                    width: 16px;
                    height: 16px;
                    background-image: url(../graph/arrows-up@2x.png);
                    background-image: url(../graph/arrows-up.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                #{$hover}
                {
                    &:after { @include opacity(1); }
                }
                &.vice-versa:after { @include transform(rotate(180deg)); }

                @media screen and ( max-width: (_sres(phone-horizont) - 1) )
                {
                    &:after { @include transform(rotate(270deg)); }
                    &.vice-versa:after { @include transform(rotate(90deg)); }
                }
            }
        }
    }
}
#favScripts
{
    grid-area: right_col;
}
#favDevices
{
    grid-area: devices;
}
.lt-title, .rt-title { align-self: start; }
.lt-title { grid-area: lt_title; }
.rt-title { grid-area: rt_title; }
.lb-title
{
    grid-area: lb_title;

    @media screen and ( max-width: (_sres(desktop-min) - 1) )
    {
        padding: 15px 0;
    }
}