footer
{
    grid-area: footer;
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');

    nav
    {
        .menu-item
        {
            margin-left: 14px;
            font-size: _fsize(tiny);
            color: _palette(light-grey);
            letter-spacing: 0.01px;

            &:first-child { margin-left: 0; }
        }
    }
}