*
{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body
{
    @include transition(all 0.3s);
    display: grid;
    justify-content: center;
    grid-gap: 0 26px;
    grid:
            "header header" 92px
            "lt_title rt_title" 40px
            "left_col right_col" minmax(331px, 40%)
            "lb_title lb_title" 79px
            "devices devices" 1fr
            "footer footer" 64px
        / 50% 50%;
    padding: 0 40px;
    font-family: _font(family);
    font-size: 100%;
    line-height: normal;
    color: _palette(text);
    background: _palette(bg);

    &.popup-active > *:not(.popup-overlay) { @include blur(3px); }


    @media screen and ( max-width: (_sres(desktop-min) - 1) )
    {
        grid:
            "header" 92px
            "lt_title" 40px
            "left_col" 40%
            "." 20px
            "rt_title" 40px
            "right_col" _size(sticker-sm-h)
            "lb_title" auto
            "devices" 1fr
            "footer" 64px
        / 1fr;
    }
    @media screen and ( max-width: (_sres(middle-device) - 1) )
    {
        grid:
            "header" auto
            "lt_title" 40px
            "left_col" 40%
            "." 20px
            "rt_title" 40px
            "right_col" _size(sticker-sm-h)
            "lb_title" auto
            "devices" 1fr
            "footer" 64px
        / 1fr;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}