.label-list-scroller
{
    @include transition(all 0.3s);
    visibility: hidden;

    &.active { visibility: visible; }
}
.label-list
{
    @include vendor('display', 'flex');
    @include vendor('align-content', 'flex-start');
    @include vendor('flex-wrap', 'wrap');
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;

    &.one-row
    {
        @include vendor('flex-wrap', 'nowrap');

        .label-item
        {
            margin-left: 15px;

            &:first-child { margin-left: 0; }
        }
    }
    &.column-style
    {
        @include vendor('flex-direction', 'column');
        @include vendor('flex-wrap', 'nowrap');

        .label-item
        {
            margin-top: 15px;

            &:first-child { margin-top: 0; }
        }
    }
    &.border-box
    {
        display: grid;
        grid-gap: 15px 15px;
        grid-template-columns: repeat(auto-fill, _size(sticker-w));

        @media screen and ( max-width: (_sres(phone-horizont) - 1) )
        {
            @include vendor('display', 'flex');
            @include vendor('align-content', 'flex-start');
            @include vendor('flex-wrap', 'nowrap');

            .label-item
            {
                margin-left: 15px;

                &:first-child { margin-left: 0; }
            }
        }
    }
    .label-item
    {
        flex: 0 0 auto;
    }
}
.label-item
{
    @include border-radius(_size(b-radius-big));
    @include transition(all 0.3s);
    @include vendor('display', 'flex');
    @include vendor('justify-content', 'flex-end');
    @include vendor('flex-direction', 'column');
    position: relative;
    width: _size(sticker-w);
    height: _size(sticker-h);
    padding: 14px;
    background: _palette(light);
    font-weight: bold;
    font-size: _fsize(p);
    text-align: left;

    &.small
    {
        height: _size(sticker-sm-h);
    }
    &.shadow-hover
    {
        #{$hover}
        {
            background: _palette(bg);
            @include box-shadow(0px 2px 6px 0px _palette(label-shadow-active));
        }
    }
    &.light-group
    {
        .icon
        {
            background-image: url(../graph/light@2x.png);
            background-image: url(../graph/light.svg);
        }
    }
    &.temper-group
    {
        .icon
        {
            background-image: url(../graph/temper@2x.png);
            background-image: url(../graph/temper.svg);
        }
    }
    &.timer-group
    {
        .icon
        {
            background-image: url(../graph/timer@2x.png);
            background-image: url(../graph/timer.svg);
        }
    }
    &.inactive .icon { @include black-white(100%); }

    .ff-fix
    {
        @include vendor('display', 'flex');
        @include vendor('justify-content', 'flex-end');
        @include vendor('flex-direction', 'column');
        @include vendor('flex', '1 1 100%');
        position: relative;
        width: 100%;
        height: 100%;

        .icon
        {
            top: 0;
            left: 0;
        }
    }
    .note
    {
        margin-top: 3px;
        font-size: _fsize(tiny);
        font-weight: normal;
        color: _palette(light-grey);
    }
    .icon
    {
        position: absolute;
        top: 14px;
        left: 14px;
        width: 24px;
        height: 24px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

}

.multi-header-wrap
{
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'flex-start');

    &.space-between { @include vendor('justify-content', 'space-between'); }

    .multi-header-column
    {
        @include vendor('display', 'flex');
        @include vendor('align-items', 'center');
        @include vendor('justify-content', 'flex-start');

        * + * { margin-left: 10px; }

        @media screen and ( max-width: (_sres(ipad-min) - 1) )
        {
            @include vendor('align-items', 'flex-start');
            @include vendor('flex-direction', 'column');

            * + *
            {
                padding-top: 10px;
                margin-left: 0;
            }
        }
    }
}

.tabs
{
    @include vendor('display', 'flex');

    .tab-item
    {
        @include border-radius(_size(b-radius-mid));
        @include transition(all 0.3s);
        margin-left: 10px;
        height: 30px;
        padding: 0 15px;
        background: _palette(light);
        line-height: 30px;
        font-weight: bold;
        color: _palette(black);
        font-size: _fsize(tiny-plus);

        &:first-child { margin-left: 0; }
        &.current-item, #{$hover} { background: _palette(yellow); }
    }
}

.scroll-buttons
{
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'space-between');
    width: 40px;

    .scroll-btn
    {
        @include transition(all 0.3s);
        @include opacity(0.3);
        width: 9px;
        height: 14px;
        background-image: url(../graph/arrow-left@2x.png);
        background-image: url(../graph/arrow-left.svg);

        #{$hover} { @include opacity(1); }
        &.next-btn { @include transform(rotate(180deg)); }
    }
}

.popup-overlay
{
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: _palette(popup-overlay);
}
.popup-wrapper
{
    width: 630px;

    .popup-content
    {
        @include border-radius(_size(b-radius-big));
        @include vendor('display', 'flex');
        @include vendor('align-items', 'flex-start');
        @include vendor('flex-direction', 'column');
        position: relative;
        padding: 26px 25px;
        background: _palette(bg);

        .popup-title { font-size: _fsize(h1); }
        .popup-remark
        {
            margin-top: 6px;
            font-size: _fsize(p);
        }
        .tabs { margin-top: 20px; }
        .temper-range-wrap
        {
            position: relative;
            margin-top: 25px;
            width: 100%;

            .vals
            {
                @include vendor('display', 'flex');
                @include vendor('align-items', 'center');
                position: absolute;
                top: 0;
                height: 100%;
                padding: 0 20px;
                font-size: _fsize(h2);
                color: _palette(bg);
                font-weight: bold;

                &.min-val { left: 0; }
                &.max-val { right: 0; }
            }
        }
        .reostat-wrap
        {
            @include vendor('display', 'flex');
            @include vendor('justify-content', 'center');
            width: 100%;
            margin-top: 20px;
        }
        .current-value
        {
            @include vendor('display', 'flex');
            @include vendor('align-items', 'center');
            position: absolute;
            top: 25px;
            right: 36px;
            font-weight: bold;
            font-size: _fsize(big);

            > img { margin-left: 14px; }
        }
    }
    .popup-buttons
    {
        @include vendor('display', 'flex');
        @include vendor('align-items', 'flex-start');
        @include vendor('justify-content', 'space-between');
        margin-top: 20px;
        margin-left: -8px;
        margin-right: -8px;

        .popup-btn
        {
            @include transition(all 0.3s);
            @include border-radius(_size(b-radius-big));
            @include vendor('flex', '1');
            margin: 0 8px;
            height: 60px;
            text-align: center;
            background: _palette(bg);
            font-weight: bold;
            font-size: _fsize(h2);
            line-height: 60px;

            #{$hover}
            {
                background: _palette(yellow);
                color: _palette(black);
            }
        }
    }
}